.page
    max-width: min(calc(100% - 10vw), 1200px)
    // max-width: calc(100% - 10vw)
    margin: auto
    overflow: hidden

.hidden
    display: none !important
    transition: 0.3s

.drop
    filter: drop-shadow(2px 2px 8px #0000005e)

.bigdrop
    filter: drop-shadow(2px 2px 12px #0000009b)

.invert
    filter: invert(1)

.border
    border: 1.6px solid black

.pointer
    cursor: pointer

.maxWMedium
    max-width: 800px
    margin: auto
    width: 100%

.maxWSmall
    max-width: 600px
    margin: auto
    width: 100%

.maxWExtraSmall
    max-width: 400px
    margin: auto
    width: 100%

.rounded50
    border-radius: 50% !important

.marginTop32
    margin-top: 32px

.userNone
    user-select: none

.difference
    mix-blend-mode: difference
    filter: invert(1)

.paddingTop32
    padding-top: 32px

.headerFilterBg
    position: fixed
    top: 0
    left: 0
    z-index: 9
    width: 100vw
    height: 0px
    padding-bottom: 115px
    background: $background

.headerFilter
    position: fixed
    width: 100%
    max-width: inherit
    top: 0
    background: $background
    z-index: 12

// .headerFilter
//     width: 100%
//     max-width: inherit

// .headerCont
//     position: fixed
//     width: 100%
//     max-width: inherit
//     top: 0
//     background: $background
//     z-index: 12

// .filterCont
//     position: fixed
//     width: 100%
//     max-width: inherit
//     top: 64px
//     background: $background
//     z-index: 10

// .header
//     z-index: 12
//     background: $background
//     position: relative

// .filter
//     background: $background

.content
    margin-top: $filter-header-height
    margin-bottom: 32px

.project
    padding-top: 32px
    min-height: calc( 100vh - $filter-header-height - 32px ) // maybe do this differently
    display: flex
    flex-direction: column

// .projectHead
//     padding-top: 16px

.fixedButtons
    position: fixed
    bottom: 32px
    // right: max(5vw, calc((100vw - 1200px) / 2 - 88px))
    right: 32px

#muteButton
    @media (pointer:none), (pointer:coarse)
        display: none

.sqButton
    display: flex
    align-items: center
    max-width: fit-content
    justify-content: center
    height: 48px
    min-width: 48px
    background: $button
    border-radius: 1px
    cursor: pointer
    user-select: none
    // border: 1px solid transparent

    &:hover
        background: $button-hover
        // border: 1px solid $selected-border

    &.muted
        filter: invert(1)

    &:active
        background: $selected

.sqButtonSmall
    display: flex
    align-items: center
    max-width: fit-content
    justify-content: center
    height: 32px
    min-width: 32px
    background: $button
    border-radius: 1px
    cursor: pointer
    user-select: none
    // border: 1px solid transparent

    &:hover
        background: $button-hover
        // border: 1px solid $selected-border

    &.muted
        filter: invert(1)

    &:active
        background: $selected

.button
    display: flex
    align-items: center
    max-width: fit-content
    justify-content: center
    height: 48px
    padding: 0 16px
    background: $button
    border-radius: 1px
    cursor: pointer
    white-space: nowrap
    user-select: none
    // border: 1px solid transparent

    font-weight: 600

    &:hover
        background: $button-hover
        // border: 1px solid $selected-border

    &:active
        background: $selected

.remixIcon
    vertical-align: bottom
    transition: 0.2s
    height: 14px

    &.turned
        transform: rotate(180deg)
        transition: 0.2s

.iconMedium

.iconExtraBig
    font-size: 48px

.socialIcon
    font-size: 20px
