.page
    max-width: min(calc(100% - 10vw), 1200px)
    margin: auto
    overflow: hidden

.hidden
    display: none !important

.drop
    filter: drop-shadow(2px 2px 8px #0000005e)

.headerFilterBg
    position: fixed
    top: 0
    left: 0
    z-index: 9
    width: 100vw
    height: 0px
    padding-bottom: 115px

.headerFilter
    position: fixed
    width: 100%
    max-width: inherit
    top: 0
    background: $background
    z-index: 10

.content
    margin-top: $filter-header-height
    margin-bottom: 32px

.project
    padding-top: 16px
    min-height: calc( 100vh - $filter-header-height - 32px ) // maybe do this differently
    display: flex
    flex-direction: column

// .projectHead
//     padding-top: 16px

.fixedButtons
    position: fixed
    bottom: 32px
    // right: max(5vw, calc((100vw - 1200px) / 2 - 88px))
    right: 32px

    @media (pointer:none), (pointer:coarse)
        display: none

.sqButton
    display: flex
    align-items: center
    max-width: fit-content
    justify-content: center
    height: 48px
    min-width: 48px
    background: $button
    border-radius: 1px
    cursor: pointer
    user-select: none
    // border: 1px solid transparent

    &:hover
        background: $button-hover
        // border: 1px solid $selected-border

    &.muted
        filter: invert(1)

#muteButton
    border-radius: 50%

.button
    display: flex
    align-items: center
    max-width: fit-content
    justify-content: center
    height: 48px
    padding: 0 16px
    background: $button
    border-radius: 1px
    cursor: pointer
    white-space: nowrap
    user-select: none
    // border: 1px solid transparent

    font-weight: 600

    &:hover
        background: $button-hover
        // border: 1px solid $selected-border

    &:active
        background: $selected

.remixIcon
    vertical-align: bottom
    transition: 0.2s
    height: 14px

    &.turned
        transform: rotate(180deg)
        transition: 0.2s

.socialIcon
    font-size: 20px
