.img
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    object-fit: cover
    // filter: drop-shadow(3px 3px 3px #56565659)
    // border: 1.4px solid black
    // box-sizing: border-box

.imgSlide
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    object-fit: contain
    display: flex
    justify-content: center

.slideImg
    max-width: 100%
    height: 100%

.exp .img
    // position: absolute
    // top: -40px
    // left: -40px
    // right: -40px
    // bottom: -40px
    // width: calc(100% + 80px)
    // height: calc(100% + 80px)
    transform: scale(1.32,1.32)
    pointer-events: none

.expsides
    transform: scale(1.32,1.32)
    top: 60px
    margin-bottom: 60px

.c169
    margin: 0
    width: 100%
    height: 0
    padding-top: 56.25%
    // background-color: #ececec
    position: relative

.c916
    margin: 0
    width: 100%
    height: 0
    padding-top: 177.78%
    // background-color: #ececec
    position: relative

.c43
    margin: 0
    width: 100%
    height: 0
    padding-top: 75%
    // background-color: #ececec
    position: relative

.c34
    margin: 0
    width: 100%
    height: 0
    padding-top: 133.33%
    // background-color: #ececec
    position: relative

.c32
    margin: 0
    width: 100%
    height: 0
    padding-top: 66.67%
    // background-color: #e5e4e0
    position: relative

.c23
    margin: 0
    width: 100%
    height: 0
    padding-top: 150%
    // background-color: #ececec
    position: relative

.c11
    margin: 0
    width: 100%
    height: 0
    padding-top: 100%
    // background-color: #ececec
    position: relative

.g1
    display: grid
    grid-template-columns: 1fr
    position: relative

.g2
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 4px
    position: relative

.g3
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 4px
    position: relative
