@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Spectral:wght@400;500;600;700;800&display=swap')
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,701,300,501,901,400,401&f[]=sentient@400,700,200,500,300&f[]=cabinet-grotesk@1&f[]=switzer@1&display=swap')

html
    color: $font
body
    font-family: 'Satoshi', sans-serif
    font-weight: 500

// .title-big
//     font-size: 40pt
//     font-weight: 800
//     line-height: 35pt
//     padding: 16px 0

.smallH
    font-size: 18pt
    font-weight: 800
    // line-height: 16pt
    // padding: 16px 0
    min-height: 18pt

.bigH
    font-size: 40pt
    font-weight: 800
    padding-bottom: 16px

    @media screen and (max-width: $layout-breakpoint-xsmall)
        font-size: 32pt

.varXlH
    font-size: 72pt
    font-weight: 800
    padding-bottom: 16px

    @media screen and (max-width: $layout-breakpoint-mobile)
        font-size: 40pt

    @media screen and (max-width: $layout-breakpoint-xsmall)
        font-size: 32pt

.textCardH
    font-size: 24pt
    font-weight: 800
    padding-bottom: 8px

@container (max-width: 300px)
    .textCardH
        font-size: 18pt

.tinyH
    font-size: 12pt
    // text-transform: uppercase
    font-weight: 800
    // line-height: 14pt

.cardData
    font-weight: 400
    font-style: italic

.description
    font-weight: 400

.medSub
    font-size: 14pt
    // font-weight: 600

.medP
    font-size: 12pt

.bigP
    font-size: 16pt
    margin-bottom: 16px
    line-height: 20pt

    li
        margin: 16px 0

        b
            font-weight: 600

    ul.bulletlist
        list-style-type: circle
        margin-left: 24px

        li
            margin: 0 0 8px 0

p
    a
        text-decoration: underline

.caption
    padding-top: 16px // to avoid jumping for empty descriptions, maybe other solution
    white-space: wrap
    line-height: 1.3rem

//font classes
.sentient
    font-family: 'Sentient', serif

.uppercase
    text-transform: uppercase

//specifics
@media screen and (max-width: $layout-breakpoint-xsmall)
    .responsiveBreak
        display: none

.textP
    font-size: 18pt
    padding-bottom: 16px
    line-height: 24pt
    font-weight: 400

    max-width: 870px

    @media screen and (max-width: $layout-breakpoint-xsmall)
        font-size: 14pt
        line-height: 20pt

    li
        margin-bottom: 16px

    i
        font-style: italic

    a
        text-decoration: underline

ol.bib
    list-style: decimal
    margin-left: 2em

.intextNumRef
    vertical-align: top
    position: relative
    top: -0.5em
    font-size: 0.7em
    text-decoration: none !important
    cursor: pointer

    &::before
        content: "["

    &::after
        content: "]"

.intextWordRef
    text-decoration: none !important
    cursor: pointer

.textH
    font-size: 18pt
    padding-bottom: 16px
    line-height: 24pt
    font-weight: 600

    max-width: 870px

.textSub
    font-size: 18pt
    padding-bottom: 16px
    line-height: 24pt
    font-weight: 500

.bib
    white-space: pre-wrap
    white-space: -moz-pre-wrap
    white-space: -pre-wrap
    white-space: -o-pre-wrap
    overflow-wrap: break-word
    word-wrap: break-word
    word-break: break-word
    hyphens: auto
