@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Spectral:wght@400;500;600;700;800&display=swap')
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap')

html
    color: $font
body
    font-family: 'Satoshi', sans-serif

.title-big
    font-size: 40pt
    font-weight: 800
    line-height: 35pt
    padding: 16px 0

.title-small
    font-size: 12pt
    font-weight: 600
    padding-bottom: 0px

.subtitle
    font-weight: 600
    font-style: italic

.description
    font-weight: 600
