.overviewGrid
    display: grid
    // grid-template-columns: 1fr 1fr 1fr
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))
    // activate for masonry:
    // grid-auto-rows: 0
    gap: 32px 16px
    padding-top: 16px
    max-width: 100%

//card
.card
    // background: beige
    // height: 320px
