//card draft

.mauxImg1
    width: 40%
    position: absolute
    top: 10%
    right: 8%
    transition: transform 0.3s ease-out

.mauxImg2
    width: 40%
    position: absolute
    bottom: 10%
    left: 10%
    transition: transform 0.3s ease-out

.mauxImg3
    width: 20%
    position: absolute
    top: 15%
    left: 20%
    transition: transform 0.3s ease-out

.mauxImg4
    width: 32%
    position: absolute
    right: 21%
    bottom: 15%
    transition: transform 0.3s ease-out

.mauxImg5
    width: 32%
    position: absolute
    top: 5%
    left: 8%
    transition: transform 0.3s ease-out

.mauxImg6
    width: 40%
    position: absolute
    top: 30%
    left: 30%
    transition: transform 0.3s ease-out

.mauxImg7
    width: 20%
    position: absolute
    bottom: 5%
    right: 5%
    transition: transform 0.3s ease-out
    mix-blend-mode: difference
    filter: invert(1)

.c32:hover .hoverScale
    transform: scale(1.1)

//project draft
.projectHead
    display: flex
    flex-direction: row-reverse
    flex-wrap: wrap
    gap: 32px

.projectInfo
    flex: 1
    min-width: 320px

    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 16px

.projectImage
    flex: 1.5
    min-width: 380px

.projectContent
    display: flex
    flex-direction: column
    justify-content: flex-start
    flex-grow: 1

.projectLinks
    display: flex
    justify-content: left
    gap: 16px
    flex-wrap: wrap

.album
    display: flex
    flex-wrap: wrap
    gap: 32px
    margin-top: 64px

.albumHead
    flex: 1
    min-width: 200px

.albumContent
    flex: 1.5
    display: flex
    flex-direction: column
    justify-content: flex-start
    gap: 16px
    min-width: 380px

.playerSection
    gap: 16px

.albumTitle
    padding: 0 16px 16px 0

.albumPlayers
    display: flex
    flex-direction: column
    gap: 16px
    padding-top: 32px

.playerTitle
    margin-bottom: 8px

.slide
    width: 100%
    display: flex
    align-items: stretch
    margin-top: 32px
    user-select: none

.slideContentOuter
    flex-shrink: 1
    flex-grow: 1

.slideContent
    display: flex
    // border: 1.5px solid black
    overflow: hidden

.slideNav
    width: 48px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    user-select: none

    &:hover
        opacity: 90%

    &:active
        filter: drop-shadow(2px 2px 8px #0000005e)

    @media screen and (max-width: $layout-breakpoint-mobile)
        display: none

.captionArea
    margin: 0 48px
    display: flex
    justify-content: space-between
    width: 100%

    @media screen and (max-width: $layout-breakpoint-mobile)
        margin: 0

.slideNavMobile
    width: 48px
    height: 48px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    flex-shrink: 0
    user-select: none

    &:hover
        opacity: 90%

    &:active
        filter: drop-shadow(2px 2px 8px #0000005e)

    @media screen and (min-width: $layout-breakpoint-mobile)
        display: none
