
//project draft
.contentContainer
    display: flex

.progressIndicator
    width: 48px
    margin-top: 64px
    flex-shrink: 0

.progressIndicatorInner
    top: calc($filter-header-height + 16px)
    display: flex
    flex-direction: column
    gap: 8px
    // transform-origin: 0 0
    // transform: rotate(-90deg)

.stickyWrapper
    position: relative
    top: 0
    height: 100px

.stickyInne

.sticky .stickyInner
    position: fixed
    top: calc($filter-header-height + 16px)
    transition: 0.1s

.progressLog
    width: 32px
    background: $button
    // color: $background
    border-radius: 16px
    display: flex
    justify-content: center
    align-items: center
    padding: 11px 0
    position: relative
    overflow: hidden

    &.inactive

    &.activeSection
        // background: $darkgrey
        // color: $background
        padding: 14px 0

.progressLogBar
    position: absolute
    top: 0
    left: 0
    background: $darker
    width: 100%

.progressExt
    height: 0
    // width: 0
    transition: 0.2s

.activeSection .progressExt
    height: auto
    transition: 0.2s

.progressText
    white-space: nowrap
    writing-mode: vertical-rl
    z-index: 20

.progressNum
    display: inline-block

.progressExt
    display: inline-block
    overflow: clip

.projectHead
    display: flex
    flex-direction: row-reverse
    flex-wrap: wrap
    gap: 32px

.projectInfo
    flex: 1
    min-width: 320px

    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 16px

.projectImage
    flex: 1.5
    min-width: 380px

.projectContent
    display: flex
    flex-direction: column
    justify-content: flex-start
    flex-grow: 1

.projectLinks
    display: flex
    justify-content: left
    gap: 16px
    flex-wrap: wrap

.album
    display: flex
    flex-wrap: wrap
    gap: 32px
    margin-top: 64px

.albumHead
    flex: 1
    min-width: 200px

.albumContent
    flex: 1.5
    display: flex
    flex-direction: column
    justify-content: flex-start
    gap: 16px
    min-width: 380px

.playerSection
    gap: 16px

.albumTitle
    padding: 0 16px 16px 0

.albumPlayers
    display: flex
    flex-direction: column
    gap: 16px
    padding-top: 32px

.playerTitle
    margin-bottom: 8px

.slide
    width: 100%
    display: flex
    align-items: stretch
    margin-top: 32px
    user-select: none

.slideContentOuter
    flex-shrink: 1
    flex-grow: 1

.slideContent
    display: flex
    // border: 1.5px solid black
    overflow: hidden

.slideNav
    width: 5vw
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    user-select: none

    &:hover
        opacity: 90%

    &:active
        filter: drop-shadow(2px 2px 8px #0000005e)

    @media screen and (max-width: $layout-breakpoint-mobile)
        display: none

.captionArea
    margin: 0 5vw 0 5vw
    display: flex
    justify-content: space-between
    // width: 100%

    @media screen and (max-width: $layout-breakpoint-mobile)
        margin: 0

.slideNavMobile
    width: 48px
    height: 48px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    flex-shrink: 0
    user-select: none

    &:hover
        opacity: 90%

    &:active
        filter: drop-shadow(2px 2px 8px #0000005e)

    @media screen and (min-width: $layout-breakpoint-mobile)
        display: none

//cardioguard
.projectSection
    margin-top: 64px
    height: 1000px
    background: red
