.card:hover .hoverScale
    transform: scale(1.05)

.card:hover .hoverShrink
    transform: scale(0.95)

//colours
.lightgrey
    background: #e8e4dd

.cardioguard
    background: #F9FAFB

//MAUX
.mauxCustom

    .customCardImg
        position: absolute
        transition: transform 0.3s ease-out

    .custom1
        width: 40%
        top: 10%
        right: 8%

    .custom2
        width: 40%
        bottom: 10%
        left: 10%

    .custom3
        width: 20%
        top: 15%
        left: 20%

    .custom4
        width: 32%
        right: 21%
        bottom: 15%

    .custom5
        width: 32%
        top: 5%
        left: 8%

    .custom6
        width: 40%
        top: 30%
        left: 30%

    .custom7
        width: 20%
        bottom: 5%
        right: 5%

// London People
.londonpeopleCustom

    .customCardImg
        position: absolute
        transition: transform 0.3s ease-out

    .customcardbg
        width: 100%
        top: 0
        right: 0

    .customcardfg
        width: 100%
        top: 0
        right: 0

//CardioGuard
.cardioguardCustom
    .customCardImg
        position: absolute
        transition: transform 0.3s ease-out

    .customcardbg
        width: 100%
        top: 0
        right: 0
        display: none

    .customcard1
        width: 36%
        top: 20%
        left: 5%

    .customcard2
        width: 23%
        top: 18%
        left: 22%

    .customcard3
        width: 30%
        top: 19%
        right: 5%

    .customcard4
        width: 30%
        top: 17%
        right: 20%

    .customcard5
        width: 30%
        top: 12%
        left: 35%
